/* ADD THIS TO VSCODE SETTINGS */
// search '>settings', select option with "(UI)"
// find extensions in the left menu
// find live sass compiler
// select edit settings.json

"liveSassCompile.settings.formats": [
    {
        "format": "compressed",
        "extensionName": ".min.css",
        "savePath": "/bundled/css",
        "savePathReplacementPairs": null
    },
],
"liveSassCompile.settings.autoprefix": [
    "cover 99.5%",
    "last 2 versions",
    "Firefox ESR",
    "not dead"
],
"liveSassCompile.settings.generateMap": false,
"liveSassCompile.settings.includeItems": [
    "/scss/*.scss"
]