// globals
@import "./global/global";

// CUSTOM IMPORTS HERE
@import "./cw/login_form.scss";

.cw-box {
    table {
        td.cw-team-display, td.cw-player-display {
            padding:0;
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                display: inline-block;
                background-color: $brand-neutral;
                color:$brand-black-1;
                border-bottom:1px solid $brand-black-1;
                padding: 0.75rem;
                text-decoration:none;
                transform:0.3s all;
                &:hover { opacity:0.8; }
            }
        }
    }
}

.cw-tag {
    display:inline-block;
    border-radius:7px;
    padding:3px 7px 4px;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:bold;
    &.Approved, &.bg-primary {
        background-color:$primary;
        color:$white;
    }
    &.Pending, &.bg-warning {
        background-color:$warning;
        color:$black;
    }
    &.bg-success {
        background-color:$success;
        color:$white;
    }
    &.bg-danger {
        background-color:$danger;
        color:$white;
    }
}

.cw-unlock-progress {
    width:200px;
    p { font-size:0.9rem; margin:0; text-align:center; }
    button {
        border-bottom-right-radius:0;
        border-bottom-left-radius:0;
        width:100%;
    }
    .progress {
        height:10px;
        width:100%;
        border-top-right-radius:0;
        border-top-left-radius:0;
    }
}

.cw-proj-teams {
    display:flex;
    gap:1rem;
    div {
        width:50%;
    }
}