.cw-breadcrumbs {
    height:2rem;
    display:flex;
    align-items:center;
    margin-left:-16px;
    margin-right:-16px;

    @media (max-width:720px) {
        margin-left:0;
        margin-right:0;
    }

    div {
        display:flex;

        /* POINTY RIGHT */
        &:after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
            border-left: 16px solid $brand-neutral;
            z-index:1;
            margin-left:-22px;
        }

        span {
            background-color: $brand-black-3;
            display:flex;
            align-items: center;
            padding:0 0 0 10px;
            text-decoration:none;
            color:$brand-white;
            font-size:14px;
            i { margin-right:5px; }
        }
        
        a {
            background-color: $brand-black-3;
            display:flex;
            align-items: center;
            padding:0 10px;
            text-decoration:none;
            color:$brand-white;
            font-size:14px;
            i { margin-right:5px; }
            &:first-child {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            /* POINTY RIGHT */
            &:after {
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                border-top: 16px solid transparent;
                border-bottom: 16px solid transparent;
                border-left: 16px solid $brand-black-3;
                z-index:2;
                margin-left:8px;
            }

            &:hover {
                background-color:$brand-black-2;
                &:after { border-left-color:$brand-black-2; }
            }
        }

        &:not(:first-child) {
            margin-left:-16px;
            a, span { padding-left:24px; }
        }

        &:last-child {
            flex-grow:1;
            span { width:100%; }

            &:after {
                border-left: 16px solid $brand-black-3;
                margin-left:0;
            }
        }
    }
}